<header class="header">
    <div class="header__logo">
        <a href="index.html"><span>Camer</span>Go</a>
    </div>
    <ul class="header__menu">
        <li><a href=" #">Accueil</a></li>
        <li><a href="#a-propos">À propos</a></li>
        <li><a href="#destinations-populaires">Destinations</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <a href="#" class="btn-reservation">Réserver</a>
    <div class="menu-responsive"></div>
</header>