<form>
    <div class="frm_container">
        <label>Verbe</label><input placeholder="ajouter un verbe">
        <label>Groupe</label>
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <label>Auxilaire</label>
        <select>
            <option>avoir</option>
            <option>être</option>
            <option>avoir/être</option>
        </select>
        <label>Transitif</label><input type="checkbox">
        <label>Intransitif</label><input type="checkbox">
        <label>Transitif indirect</label><input type="checkbox">
        <label>Pronominal</label><input type="checkbox">
        <label>Exclusivement pronominal</label><input type="checkbox">
        <label>Défectif</label><input type="checkbox">
        <label>Impersonnel</label><input type="checkbox">
    </div>
    <input style="width:100%" value="ajouter" type="submit">
</form>