<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <h1>Erreur - Vous devez être identifié pour accéder à cette page</h1>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>