<footer class="footer">
    <a class="footer__link" href="/map">Plan du site</a>
    <a class="footer__link" href="/mentions">Mentions légales</a>
    <a class="footer__link" href="/contact">Contact</a>
</footer>
<script src="/js/script.js"></script>