<header>
    <nav id="nav" class="nav-2">
        <img class="nav-2__icon" src="/img/home.svg" alt="">
        <ul class="nav-2__items">
            <li class="nav-2__item"><a href="#">Accueil</a></li>
            <li class="nav-2__item"><a href="#">Nos prestations</a></li>
            <li class="nav-2__item"><a href="#">Nos produits</a></li>
            <li class="nav-2__item"><a href="#">Nos actualités</a></li>
            <li class="nav-2__item"><a href="#">Contact</a></li>
            <img class="nav-2__burger" src="/img/burger.svg" alt="">
        </ul>
        <!-- <img class="burger nav-2__burger" src="/img/burger.svg" alt=""> -->
        <div href="#" id="openBtn">
            <span class="nav-2__burger-icon">
              <span class="top"></span>
              <span class="middle"></span>
              <span class="bottom"></span>
            </span>
        </div>
        <div class="nav-2__modal">
            <a id="closeBtn" href="#" class="nav-2__close">&times;</a>
            <ul>
                <li class="nav-2__item"><a href="#">Accueil</a></li>
                <li class="nav-2__item"><a href="#">Nos prestations</a></li>
                <li class="nav-2__item"><a href="#">Nos produits</a></li>
                <li class="nav-2__item"><a href="#">Nos actualités</a></li>
                <li class="nav-2__item"><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>