<!DOCTYPE html>
<html lang="fr">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <main class="container">
        <h1>Titre du site</h1>
        <p style=" text-align: justify;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, vel! Soluta quae, tenetur quasi consequuntur doloremque quaerat sequi debitis aspernatur esse corrupti nihil possimus neque maxime corporis vel, excepturi ab.
        Veritatis ipsum quasi omnis amet quae accusantium, voluptas porro repellendus nobis fugit quam consequuntur id. Nobis, ullam cupiditate eligendi optio ipsum asperiores excepturi! Corrupti repellat at temporibus aspernatur, repudiandae quas.
        Corrupti tempore rerum dolorum laboriosam eligendi ipsam deleniti delectus dolore ipsum excepturi provident, dignissimos quas id pariatur. Recusandae aliquid asperiores ipsa, atque velit rem esse enim, adipisci facere ratione ab.
        Ea reiciendis deserunt non culpa officiis quaerat architecto porro ratione at vitae! Consequuntur maiores repellat odit libero esse consequatur voluptatibus doloribus ab! Itaque molestiae quam delectus tempora iste dolore autem?
        Perspiciatis repellat corporis excepturi perferendis, omnis repudiandae ab magnam quia incidunt deleniti similique sit provident aut soluta nesciunt nulla rerum in reiciendis laudantium nemo magni dolorum velit facere? Repudiandae, nobis?</p>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus impedit tenetur nisi quas incidunt ipsam consequatur ad, fugit iure distinctio dolorem unde at nam officia nesciunt id ullam, enim aut.
        Est, earum voluptatibus minus placeat, natus modi ducimus eligendi eius fugiat architecto laudantium impedit excepturi fuga perferendis debitis reiciendis ullam! Quam ipsum sunt deleniti cupiditate temporibus adipisci suscipit vitae beatae.
        Voluptatum dolore magnam dolor quaerat ipsum distinctio fugit id, voluptate neque ullam provident iste iusto consequuntur delectus dolorem debitis ducimus doloribus eligendi minima. Quibusdam, earum soluta? Nam, impedit suscipit. Cum.
        Blanditiis numquam nam assumenda soluta consectetur, at natus. Veritatis consequuntur quia, deserunt reprehenderit natus tenetur sint qui, quas laborum sunt corporis tempore odio necessitatibus animi pariatur vitae eligendi ducimus provident!
        Velit dolorum perspiciatis, animi id nesciunt modi architecto porro eos fugit expedita labore possimus pariatur iste at quos magni accusamus commodi odio, est deleniti quam neque? Officia ipsa animi assumenda?</p>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, optio? Aspernatur amet inventore aliquam quaerat voluptatem explicabo natus magnam perferendis quasi possimus! Velit assumenda est soluta explicabo nulla laudantium exercitationem.
            Architecto saepe magni ipsa. Eius beatae dolorem animi velit dolorum minima eligendi commodi! Saepe at facilis magnam exercitationem tempora autem in nesciunt minus. Voluptatum vitae non quaerat quod porro quidem.
            Reiciendis, placeat, repellat natus inventore sapiente asperiores libero non quasi corporis optio unde consectetur iure nulla ullam ducimus eaque voluptatibus vel, vitae architecto odit. Nobis aut odio illo eos ab.
            Earum velit natus quis ratione sint delectus, reiciendis, ex quos, dignissimos veniam mollitia doloremque. Pariatur, fugiat quae laborum dolorem veniam, nulla ipsa ratione tempore cum deserunt, labore nisi eligendi officiis?
            Recusandae obcaecati cumque repellendus minima similique dolores quos porro exercitationem. Maxime itaque quasi enim praesentium ullam libero est dignissimos dicta ea delectus iure tempora, omnis pariatur voluptate atque quam eius.
            Similique enim expedita ut doloremque sunt nesciunt ratione blanditiis. Eum voluptatum debitis amet minima non soluta eaque totam cum dicta aliquam sed magnam distinctio temporibus odit hic saepe, officiis nam.
            Quidem, commodi ipsam. Repudiandae aspernatur, voluptatem sunt odit facere nostrum ab architecto vitae quibusdam voluptatibus, totam molestiae! Dolorum fugit consequuntur molestias rerum commodi quae cupiditate eius odio, saepe qui hic.
            Non, nesciunt porro incidunt aliquid corporis saepe, unde nostrum accusamus dignissimos illo est voluptates minus illum molestias, culpa quos deserunt autem? Consequuntur reprehenderit dolorum doloremque impedit minus maxime unde nostrum?
            Fuga corrupti quas ducimus a, cupiditate laudantium inventore doloremque, alias possimus dolores ad eum amet iusto ex dolorum nam exercitationem non rem, dicta vitae repudiandae unde! Magni suscipit odio hic.
            Repellendus odio nemo sit amet nulla illo nostrum, placeat voluptatem cumque eius vel. Modi laudantium cumque, obcaecati ratione atque id deserunt similique velit qui quaerat ut reiciendis cupiditate a harum.
        </p>    
    </main>
    <%- include('./partials/footer')%>
</body>
</html>