<!DOCTYPE html>
<html lang="fr">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <main class="container">
        <h1><%= title %></h1>
        <p>
            Pas de messages pour le moment ...
        </p>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>