<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-2')%>
    <main class="container">
        <h1>Page de test menu</h1>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>