<!DOCTYPE html>
<html lang="fr">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <main class="container">
        <h1>Squelette prêt à l'emploi</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In libero, eos quos alias soluta expedita commodi magnam harum vitae, reprehenderit fugiat dicta nulla iste qui hic odit minus nostrum earum.
            Fugit ratione vel, libero laudantium obcaecati facere molestias cupiditate dignissimos quis enim, mollitia laboriosam, modi nisi in eaque? Ipsum quidem laboriosam at sunt culpa laudantium, dolores ut beatae voluptas soluta!
            Corporis numquam impedit, qui accusamus cupiditate quidem totam, vero in hic rem nesciunt assumenda aliquid dolore dolor nostrum aut libero quo nulla. Repellendus fuga aspernatur neque, tempore soluta non numquam?
            Magnam officia illum quos eligendi tenetur dolorem perferendis eos voluptate necessitatibus magni nemo voluptatum, facilis cum quis odio molestiae quia vitae consectetur inventore blanditiis quas quasi! Deserunt adipisci illum nesciunt.
            Laudantium expedita, fugiat blanditiis molestias similique, vitae, cum nam earum a debitis distinctio itaque temporibus voluptatum. Reiciendis quis quo quaerat velit rem eaque ab. Atque, eum est. Numquam, et optio.
        </p>
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam corporis repellat labore molestiae consequatur sapiente, amet eum fuga, omnis molestias tempore, ex tempora numquam distinctio itaque rem architecto id similique.</span><span>Animi adipisci, sint quo dolore molestias ratione vitae. Explicabo, laudantium mollitia dignissimos delectus libero expedita? Temporibus fugit culpa incidunt corrupti vitae, mollitia hic dolor quas distinctio, sapiente unde, consequatur amet.</span><span>Cumque, alias voluptates! Voluptatum a et, id reiciendis doloribus totam aspernatur dolorem nulla eius enim aperiam perferendis, voluptatibus illum quisquam temporibus consequatur fuga sed esse dolorum rem voluptate corrupti sint.</span><span>Odit dolor labore ratione vero ad saepe, magni quasi inventore facere, corrupti recusandae. Excepturi blanditiis voluptatum, cumque, eos consectetur exercitationem perferendis voluptatibus quos quo commodi minima laborum eveniet ipsam minus!</span><span>Aperiam soluta quae sint error modi, deserunt sapiente corporis tempore odit doloribus esse beatae! Nihil et natus optio? Ipsa deserunt autem reiciendis a cupiditate nulla ea quibusdam itaque molestiae non?</span></p>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>