<form class="frm-login" action="/account" method="POST">
    <legend class="frm-login__title">Identification</legend>
    <label for="id">Identifiant</label>
    <input id="id" type="text" name="id" value="monIdentifiant">
    <label>Mot de passe</label>
    <input id="password" type="password" name="password" value="totolitoto">
    <input type="submit" value="Valider">
</form>