<form action="" method="post" class="frm-login">
    <label for="">Orthographe
        <input type="text" name="spelling" id="" required>
    </label>
    <label for="">Autres orthographes
        <input type="text" name="spelling" id="" required>
    </label>    
    <label>Groupe
        <select name="group" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </label>
    <label for="">Phonétique
        <input type="text" name="phonetics" id="" required>
    </label>
    <label for="">Auxiliaire
        <select name="auxiliaire" id="">
            <option value="être">avoir</option>
            <option value="être">être</option>
            <option value="être">être/avoir</option>
        </select>
    </label>
    <label>Transitif
        <input type="checkbox">
    </label>
    <label>Transitif indirect
        <input type="checkbox">
    </label>
    <label>Intransitif
        <input type="checkbox">
    </label>
    <label>Pronominal
        <input type="checkbox">
    </label>
    <label>Excluvisement pronominal
        <input type="checkbox">
    </label>
    <label>Défectif
        <input type="checkbox">
    </label>
    <label>Impersonnel
        <input type="checkbox">
    </label>

</form>