.segment {
    &--hide {
        display: none;
    }
}



.divers {
    &--hide {
      display: none;
    }
    
}

.experience {
    background-color: peru;
}

.formation {
    background-color: aqua;
}

.divers {
    background-color: beige;
}
