<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <h1>Socket.IO chat - msg</h1>
    <ul id="messages"></ul>
    <form id="form" action="/msg">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="./js/socket.io.js"></script>
    <script>
      const socket = io();

      const form = document.getElementById('form');
      const input = document.getElementById('input');

      console.log('form', form);
      console.log('input', input);

      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });

      socket.on('chat message', (msg) => {
        const item = document.createElement('li');
        item.textContent = msg;
        document.getElementById('messages').appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>
</html>