<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <form action="/password" method="post" class="frm-password">
            <!-- <div> -->
                <legend class="frm-password__title">Changer de mot de passe</legend>
    
                <input
                    class="frm-password__input"
                    type="password" name="password"
                    placeholder="Mot de passe actuel"
                    aria-label="Mot de passe actuel"
                >
    
                <input
                    class="frm-signup__input"
                    type="password" name="password1"
                    placeholder="Nouveau mot de passe"
                    aria-label="Nouveau mot de passe"
                >
    
                <input
                    class="frm-signup__input"
                    type="password" name="password2"
                    placeholder="Retapez le nouveau mot de passe"
                    aria-label="Retapez le nouveau mot de passe"
                >
    
                <button class="frm-password__button">Changer le mot de passe</button>
            <!-- </div> -->
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>